.accordeon {
    width: calc(50vw - 40px);
    max-height: 500px;
    overflow: scroll;
    border: 2px solid white;
    background: white;
    border-radius: 5px;
    padding: 10px;
}
.body {
    padding-top: 120px;
    background-image: linear-gradient(45deg, #2c7de7, #3cb2ff);
}
.acc-center {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    padding: 20px;
}

.spinner {
    margin: 10px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
}

.text{
    width: 100%;
    margin-bottom: 20px;
}