/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=block');

* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%;
    --color-primary-mid: #223c5f;
    --color-primary-light: #bdc5cf;
    --color-primary-dark: #142743;
    --color-accent-mid: #d0764d;
    --color-accent-light: #f1d6ca;
    --color-accent-dark: #be5934;
    --color-warning-mid: #b10000;
    --color-warning-light: #e8b3b3;
    --color-warning-dark: #980000;

}
body { margin: 0; font-family: 'Montserrat', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

.mat-mdc-text-field-wrapper, .mdc-text-field{
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.cool-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}

.hide .mat-mdc-text-field-wrapper {
    padding: 0;
}

.mat-mdc-text-field-wrapper, .mdc-text-field--focused{
    border: none !important;
}

.mdc-text-field--filled, .mdc-text-field--focused {
    --mdc-filled-text-field-active-indicator-height: 0px !important;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.talk_to_chattutor {
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.8px);
    -webkit-backdrop-filter: blur(13.8px);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.talk_to_chattutor:hover {
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.1);
}

.chattutor_course {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.8px);
    -webkit-backdrop-filter: blur(13.8px);
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.chattutor_course_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(13.8px);
    -webkit-backdrop-filter: blur(13.8px);
    border: 1px solid rgba(70, 70, 70, 0.6);
    transform: translateZ(12px);
}

.chattutor_course:hover {
    box-shadow: 0px 0px 5px 5px rgba(255, 255, 255, 0.1);
}
