/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=block');

* {
    font-family: 'Montserrat', sans-serif;
}
html, body {
    height: 100%;
    --color-primary-mid: #223c5f;
    --color-primary-light: #bdc5cf;
    --color-primary-dark: #142743;
    --color-accent-mid: #d0764d;
    --color-accent-light: #f1d6ca;
    --color-accent-dark: #be5934;
    --color-warning-mid: #b10000;
    --color-warning-light: #e8b3b3;
    --color-warning-dark: #980000;

}
body { margin: 0; font-family: 'Montserrat', sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif; }

.mat-mdc-text-field-wrapper, .mdc-text-field{
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px !important;
}
.hide .mat-mdc-text-field-wrapper {
    padding: 0;
}

.mat-mdc-text-field-wrapper, .mdc-text-field--focused{
    border: none !important;
}

.mdc-text-field--filled, .mdc-text-field--focused {
    --mdc-filled-text-field-active-indicator-height: 0px !important;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}
