keys.json
venv
.idea
.DS_Store
__pycache__
.openai/
.venv
__pycache__/
chattutor-393319-5c666d5a8c61.json
downloaded_papers
arxiv_ids.txt
.env.yaml
chat_store.sqlite3
debug.ipynb
.ipynb_checkpoints/
run_application.sh