<app-navbar></app-navbar>
<div class="body">
<div class="all-form">
    <h2>CHATTUTOR Login:</h2>
    <form ngNoForm class="aot" [action]='endpoint' method='POST'>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type='text' name='username' id='username'/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type='password' name='password' id='password'/>
        </mat-form-field>

        <mat-form-field>
            <input matInput type='submit' name='submit'/>

        </mat-form-field>
    </form>
<div>
</div>
