<app-navbar [onhomepage]="true"></app-navbar>
<app-gradient-background></app-gradient-background>
<div class="body">
<div class="all-form chattutor_course_container" style="padding: 20px">
    <h2>Login to ChatTutor</h2>
    <form ngNoForm class="aot" [action]='endpoint' method='POST'>
        <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput type='text' name='email' id='email'/>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type='password' name='password' id='password'/>
        </mat-form-field>

        <mat-form-field>
            <input matInput type='submit' name='submit'/>

        </mat-form-field>
    </form>

    <div class="login-container aot">
        <button (click)="continueOAuth()" class="login-with-google-btn">Continue with Google</button>
    </div>

</div>
</div>
