.urls-and-files, .file-place-holder {
    padding-left: 30px;
    padding-right: 30px;
    width: calc( 60% - 30px );
    font-size: small;
    padding-left: calc(20% + 15px);
    padding-right: calc(20% + 15px);
    right: 0;
    float: right;
}

.urls-and-files.large {
    width: calc( 70% - 30px );

    padding-left: calc(15% + 15px);
    padding-right: calc(15% + 15px);
    pointer-events: none;

}

.urls-and-files {
    transition: all 0.2s ease;
}

.urls-and-files.large {
    pointer-events: none;
}

.urls-and-files.large *{
    pointer-events: none;
}


.hide{
    width: 52px;
    display: flex;
    justify-content: center;
    right: 0;
    float: right;
}

.hide span {
    padding-right: 2px;
}

.hide mat-label{
    display: none;
}

.hide mat-chip-grid{
    display: none;
}

.hide button{
    margin: 0 0 0 0;
}

.button::before{
    transition: all 0.2s ease;

}

.hide:hover button::before{
    content: '❮';
    transition: all 0.2s ease;
    position: absolute;
    transform: translate(-5px ,-1px);
    left:0;
}

.icon-display {
    transform: scale(0.8);
}
