.urls-and-files {
    padding-left: 30px;
    padding-right: 30px;
    width: calc( 100% - 60px );
    font-size: small;
}

.urls-and-files.large {
    min-height: 200px;
    pointer-events: none;

}

.urls-and-files {
    transition: all 0.2s ease;
}

.urls-and-files.large {
    pointer-events: none;
}

.urls-and-files.large *{
    pointer-events: none;
}
<<<<<<< HEAD


.hide{
    width: 52px;
    display: flex;
    justify-content: center;
    right: 0;
    float: right;
}

.hide span {
    padding-right: 2px;
}

.hide mat-label{
    display: none;
}

.hide mat-chip-grid{
    display: none;
}

.hide button{
    margin: 0 0 0 0;
}

.button::before{
    transition: all 0.2s ease;

}

.hide:hover button::before{
    content: 'â®';
    transition: all 0.2s ease;
    position: absolute;
    transform: translate(-5px ,-1px);
    left:0;
}

.icon-display {
    transform: scale(0.8);
}
=======
>>>>>>> origin/beta-main
