<app-navbar></app-navbar>
<div class="body">
<div class="all-form">
<h2>CHATTUTOR Register:</h2>
<form ngNoForm class="aot" [action]='endpoint' method='POST'>
    <mat-form-field>
        <mat-label>E-Mail</mat-label>

    <input matInput type='text' name='email' id='email' placeholder='email'/>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Password</mat-label>

    <input matInput type='password' name='password' id='password' placeholder='password'/>
    </mat-form-field>
    <mat-form-field>

    <input matInput type='submit' name='submit'/>
    </mat-form-field>

</form>
</div>
</div>