<app-navbar [onhomepage]="true"></app-navbar>
<app-gradient-background></app-gradient-background>
<div class="body">
<div class="all-form chattutor_course_container" style="padding: 20px">

    <h2>(Re)send confirmation code:</h2>
    <form ngNoForm class="aot" [action]='sendresetemail' method='POST'>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type='text' name='email' id='email'/>
        </mat-form-field>
        <mat-form-field>
            <input matInput type='submit' name='submit'/>
        </mat-form-field>
    </form>


    <form ngNoForm class="aot" [action]='checkresetcode' method='POST'>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type='text' name='emaila' id='emaila'/>

        </mat-form-field>

        <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput type='text' name='code' id='code'/>

        </mat-form-field>

        <mat-form-field>

            <mat-label>New pass</mat-label>
            <input matInput type='text' name='new_password' id='new_password'/>
        </mat-form-field>
        <mat-form-field>
            <input matInput type='submit' name='submit'/>
        </mat-form-field>
    </form>

</div>
</div>
