@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=block');

* {
    font-family: 'Montserrat', sans-serif;
}

.aot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.iaot {
    color: white;
    background-color: #232323;
    margin: 10px;
    /* border-radius: 20px; */
    padding: 20px 50px;
    /* border: 1px solid rgba(0,0,0,0.2); */
}

.iaot::placeholder {
    color: white !important;
}

.aot .iaot:hover {
    /* box-shadow: 8px 6px 15px rgba(0, 0, 0, 0.15) */
}


.all-form {

}

.body {
    /*background-image: linear-gradient(45deg, #2c7de7, #3cb2ff);*/
    background: black;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    font-weight: bold;
}
