<app-navbar></app-navbar>
<div class="body">
<div class="all-form">
<h2>CHATTUTOR student Register:</h2>
<form ngNoForm class="aot" action='/student/register' method='POST'>
    <input class="iaot" type='text' name='username' id='username' placeholder='username'/>
    <input class="iaot" type='text' name='email' id='email' placeholder='email'/>
    <input class="iaot"type='password' name='password' id='password' placeholder='password'/>
    <input class="iaot" type='submit' name='submit'/>
</form>
</div>
</div>