<div class="body">
    <main class="main">
        <header class="section menu">
            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT09TQMs5SsRhsLscHDKkO-uP-QTJRmz-JM2lDrXbhYvgAUi7uXJWtbMYgBGjg&s"/> -->
            <span>ChatTutor</span>
        </header>
        <section class="section hero">HERO</section>
        <section class="section feature-1">
            <div>
                <a href="/cqnchattutor">CQN BOT</a>
            </div>
        </section>
        <section class="section feature-2">FEATURE 2</section>
        <section class="section feature-3">FEATURE 3</section>
        <section class="section sign-up">SIGN UP CTA</section>
        <section class="section content">CONTENT</section>
        <footer class="section footer">FOOTER</footer>
      </main>
    
</div>