<div class="chat-container" [class]="status == WStatus.DragOver ? 'chat-container dragover' : 'chat-container normal'">
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
      </script>
      <script type="text/javascript"
        src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
      </script>
    <div class="chat-messages">
        <div class="chat-header-title">
            <a href="/"><h3>{{chat_title}}</h3></a>
            <div *ngIf="restrictToDocument != undefined">
                <span>{{ "The chatbot will now ONLY answer questions about " + getDocTitle(restrictToDocument)}}</span>

<!--                <p>{{restrictToDocument | json}}</p>-->

                To exit, click <button (click)="clearRestriction()">
                    here
                </button>

            </div>
        </div>
        <!-- Loop over the messages and display each message -->
        <div class="chat-body">
            <div *ngFor="let message of messages">
                <app-message [message]="message"
                (updateContextRestriction)="restrict($event)"
                ></app-message>
            </div>
            <div *ngIf="status == WStatus.LoadingMessage">
                <mat-chip style="margin: 20px;">
                    <mat-spinner [diameter]="15"></mat-spinner>
                </mat-chip>
            </div>
        </div>
    </div>
    <div class="input-section">
        <app-dataset-chips [files_data]="filesArray" [urls_data]="urlsArray"
                           (added_urls_event)="sendURLsToBackend([$event], 'files_collection')"
                           [status]="status"></app-dataset-chips>
        <app-input-box (sendMessage)="onSendMessage($event)" (clearConvo)="clearConversation()" (stopConvo)="stopGeneratingConvo()" [status]="status"></app-input-box>
    </div>


    
    <!-- <app-docheader (onClose)="clearInfo()" [document]="documentInfo"></app-docheader> -->
</div>
  
