<div class="chat-container">
    <div class="chat-header-helper">
      <header class="chat-header">
        <div class="chat-header-title">
          ChatTutor
        </div>

      </header>
    </div>
    <div class="messages-container">
      <!-- Loop over the messages and display each message -->
      <div *ngFor="let message of messages">
        <app-message [message]="message"></app-message>
      </div>
    </div>
    <app-dataset-chips [files_data]="filesArray" [urls_data]="urlsArray"></app-dataset-chips>
    <app-input-box (sendMessage)="onSendMessage($event)"></app-input-box>
</div>
  
