.message-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
}

.message {
    padding: 30px;
    padding-left: 20%;
    padding-right:  0;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.paper-info {
    width: 18%;
    min-width: 18%;
    max-width: 18%;
    margin: 1%;
    overflow-x: hidden !important;

}

.message-docs > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow-x: hidden !important;
}

.message-doc{
    margin-left: 5px;
}

/* .paper-info mat-card {
    background-color: #e0e0e0;
} */

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.message-container.assistant, .message-container.Assistant {
    background-color: #00266e09;
    color: black;
    align-items: flex-start;
}

.message .timestamp {
    align-self: flex-end;
    font-size: x-small;
    opacity: 0.8;
}

.message-docs {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}

.mchip {
    margin-left: 5px;
    margin-right: 5px;
}

.message > * {
    margin-top: 5px;
}


.message app-paper-chip{
    margin: 10px;
}