<div class="message-container" [class]="message.sender">
    <div class="message">
        <!-- <div class="timestamp">{{ message.timestamp }}</div> -->


        <!-- <div [innerHTML]="message.content"></div> -->
        <app-mathjax [content]='message.content' class="box"></app-mathjax>
        <!-- <ng-katex-html [html]="message.conten"></ng-katex-html> -->
    </div>
    <div class="paper-info">
        <div *ngIf="(activePaperIndex >= 0) && message.valid_docs">
            <app-docheader [document]="message.valid_docs[activePaperIndex]" [showHeader]="false"
            (onFocus)="doc_restrictContext($event)"
            ></app-docheader>
        </div>
    </div>
</div>
