numpy==1.26.0
chromadb==0.4.14
deeplake==3.6.15
Flask==2.3.2
Flask_Cors==4.0.0
openai==0.28.1
Requests==2.31.0
tiktoken==0.4.0
gunicorn==20.1.0
google-cloud-storage==2.11.0
PyPDF2==3.0.1
pymysql==1.1.0
open-interpreter==0.1.9
beautifulsoup4==4.12.2
Werkzeug==3.0.0
flask-login
scrapy
annotated-types==0.6.0
pydantic==2.6.1
pydantic-core==2.16.2
sqlmodel==0.0.16
authlib==1.3.0
scholarly==1.7.11
scrape-google-scholar-py==0.3.4
pdfreader==0.1.15
google-generativeai==0.5.4
torchvision
nltk==3.8.1
Flask-APScheduler
