<app-navbar></app-navbar>
<mat-stepper
class="example-stepper">
<mat-step label="Fill out you course info">
<div class="urldiv">
    <mat-form-field>
        <mat-label>Proffessor</mat-label>
        <input matInput [(ngModel)]="proffessor" placeholder="proffessor name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Course Name/ID</mat-label>
        <input matInput [(ngModel)]="course_name" placeholder="course name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Course Main Page</mat-label>
        <input matInput [(ngModel)]="urltoparse" placeholder="url to parse">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Custom Course Collection Name/UUID</mat-label>
        <input matInput [(ngModel)]="collectionname" placeholder="collection name">
    </mat-form-field>
    <button mat-button color="primary" matStepperNext type="submit" name="submit" (click)="submitUrlScrape()">
        Submit url
    </button>

</div>
</mat-step>
<mat-step label="Let's read through your course">
<div *ngIf="!is_ready">
    <p>ChatTutor will look through  your course's website to understand it, and each page will represent a section, weather being a reading or a lab!</p>
    <p>This will take up to 5 minutes, so please do not refresh the page!</p>
</div>
<div *ngIf="is_ready">
    <button mat-button matStepperNext>Done! Now delete or add new sections!</button>
</div>
<mat-accordion>
    <div *ngFor="let url of parsed_sections">
        <app-url-label [url_name]="url['section_url']" [section_info]="url"
            (onRemove)="removeFromCollection($event)" [isDeleting]="statusDel(url)"></app-url-label>
    </div>
    <div *ngIf="!is_ready">
        <mat-spinner [diameter]="15"></mat-spinner>
    </div>
</mat-accordion>
<div *ngIf="is_ready">
    <button mat-button matStepperNext>Click to finish</button>
</div>

</mat-step>
<mat-step label="Your urls are now ready!">
<div style="display: flex; margin-top: 30px; flex-direction: column; align-items: center; justify-content: center; font-size: large">
    <h3>Congratulations!</h3>
    <div>Your course id ready to embed ChatTutor!</div>
    <div>Your course collection is: <span style="font-family: monospace">{{ url_collection_name }}</span></div>
    <!-- <div>Te equivalent for a given url from the course site can be found with (from_doc): <span style="font-family: monospace">re.sub(r'[^A-Za-z0-9\-_]', '_',
        (your-url))</span>
    </div> -->

    <button mat-button><a href="/">Take me back!</a></button>
</div>
</mat-step>

</mat-stepper>