<div class="section menu" [class.ondashboardmenu]="ondashboard" [class.onhomepagemenu]="onhomepage">
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT09TQMs5SsRhsLscHDKkO-uP-QTJRmz-JM2lDrXbhYvgAUi7uXJWtbMYgBGjg&s"/> -->
    <div class="fl-right" [class.ondashboard]="ondashboard" [class.onhomepage]="onhomepage">
        <div>
            <a href="/">Home</a>
        </div>
        <div *ngIf="loggedin && !hidden">
            <a href="/mycourses">My courses</a>
        </div>
        <div *ngIf="loggedin && show_verif">
            <a href="/users/send_verification_mail">Verify</a>
        </div>
        <div *ngIf="!loggedin && !hidden">
            <a href="/login">Login</a>
        </div>
        <div *ngIf="!loggedin && !hidden">
            <a href="/register">Register</a>
        </div>
        <div *ngIf="loggedin && !hidden">
            <a href="/logout">Logout</a>
        </div>
    </div>
</div>