.docheader {
    /* position: fixed;
    top: 10px;
    right: 10px; */
    /* max-width: 18%; */
}

.docheader mat-card {
<<<<<<< HEAD
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
=======
    box-shadow: none !important;
>>>>>>> origin/beta-main
    border-radius: 20px;
}

.docheader mat-card-option {
    margin: 10px;
<<<<<<< HEAD
}


.docheader *{
    transition: all 0.2s ease;
}

.reduced mat-card-content{
    max-height: 0px;
    overflow: hidden;
    transition: all 0.2s ease;

}
.reduced mat-card-actions{
    min-height: 5px;
    overflow: hidden;
    transition: all 0.2s ease;

}

.reduced button {
    display: none;
    transition: all 0.2s ease;
=======
>>>>>>> origin/beta-main
}